*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-image-layer {
  width: 200px !important;
  height: 200px !important;
}

.video_container {
  height: 100vh;
  position: relative;
}

.video {
  width: 100%;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.video_text {
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
